snippet ifnama "python script boilerplate" b

def main(${1: args}):
	${2: code + docs}

if __name__ == "__main__":
	main()

endsnippet

snippet docstr "docstring struct" bi
	"""
	${1: Description}

	Parameters
	----------
		${2: inputs}

	Returns
	-------
		${3: returns}
	"""
endsnippet

snippet logbasic "Basic log config" b
logging.basicConfig(
        level="DEBUG",
        format="%(asctime)s %(levelname)s -> %(message)s",
        datefmt="%Y-%m-%d %H:%M:%S"
)
endsnippet
